/* General */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 5%;
    padding: 0%;
    background-color: rgba(0, 0, 0, 0.679);
  }

  header {
    background-image: url('https://www.shutterstock.com/image-vector/cyber-security-data-protection-cyberattacks-600nw-1918033985.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajustar el tamaño de la imagen para cubrir todo el encabezado */
    background-position: center; /* Centrar la imagen */
    color: white; /* Color del texto */
    text-align: center; /* Alinear el texto al centro */
    padding: 20px; /* Espaciado interno */
}

  .seccion-doble {
    display: flex;
  }
  
  .columna-izquierda {
    flex-direction: column;
    flex-basis: 100%; /* Ajusta el ancho */
    background-color: #dfd9d9;
    padding: 20px;
    }
  
  .columna-derecha {
    flex-direction: column;
    flex-basis: 40%; 
    background-color: #ffffff;
    padding: 20px;
  }

  .ulContacto {
    padding: 0 15px;
  list-style: none; /* Quita los estilos de lista predeterminados */
}

.iconoEmail {
  width:20px ; /* Ajusta el tamaño del icono según sea necesario */
  height: auto; /* Mantener la proporción de la imagen */
  margin-right: 5px; /* Espacio entre la imagen y el texto */
  vertical-align: middle; /* Alinea verticalmente la imagen con el texto */
}
.iconoLlamada{
  width:20px ; /* Ajusta el tamaño del icono según sea necesario */
  height: auto; /* Mantener la proporción de la imagen */
  margin-right: 5px; /* Espacio entre la imagen y el texto */
  vertical-align: middle; /* Alinea verticalmente la imagen con el texto */
}

  
  li {
    padding: 15px 0 0 0;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: solid #000000 1px ;
    padding-bottom: 2%; /* Espacio entre el texto y el borde inferior */
    width: 30%;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  .referencia {
    background-image: linear-gradient(to right,  #efefef, #FFFF);
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    width: 50%;

  }
  
  .referencia h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .referencia p {
    margin-bottom: 0px;
  }
  
  .referencia a {
    color: #3498db;
    text-decoration: none;
  }
  
  /* Footer */
footer {
    padding: 10px;
    text-align: center;
  }

  
  
